@import "normalize"; 
@import "bourbon";
@include font-face("abolon", font-files("../fonts/abolon-webfont.ttf"));

@import "../galleria/themes/classic/galleria.classic-altered.css";
body {
	margin: 0;
	font-family: "helvetica";
}
#container {
	width: 100%;
	margin: 0 auto;
	position: relative;
	background-image: url(../parallax/stars-texture-3.jpg);
}
#galleria-position {
	position: absolute;
	top: 50px;
	left: 10%;
	width: 80%;
	z-index: 2;
	max-height: 100%;
	#galleria-container {
		width: 100%;
		padding-bottom: 15%; 
		position: relative;
		height: 80%;
		#galleria {
			position: absolute;
			top: 0; bottom: 0; left: 0; right: 0;
		}
	}
}
#parallax {

}
.parallax-layer {

}

.stars-viewport {
	width: 100%;
	height: 800px;
	z-index: 1;
}
.stars {
	width: 120%;
	height: 120%;
	background-image: url(../parallax/stars-texture-3.jpg);

}

	header#site-header {
		z-index: 2;
		position: absolute;
		top: 650px;
		padding: 20px 0;
		
		h1 {
			margin: 0;
			padding: 15px;
			color: white;
			font-size: 4.0em;
			font-family: "abolon", sans-serif;
			
			
			
		}
	}

#nav {
	z-index: 3;
	position: fixed;
	top: 0;
	width: 100%;
	background: rgba(255,255,255,0.5);
	
	ul {
			margin: 15px;

		li {
			list-style-type: none;
			display: inline;
			a {
				padding: 10px;
				color: white;
				text-decoration: none;
			}
		}
	}
}
#content {
	width: 960px;
	margin: 0 auto;
	padding: 15px;
	box-shadow: inset 0px 0px 1px 7px black;
	background-color: rgba(255,255,255,0.67);
}