@import "normalize"; 
@import "bourbon";
@include font-face("abolon", font-files("../fonts/Abolon.otf"));

@import "../galleria/themes/classic/galleria.classic-altered.css";
body {
	margin: 0;
	font-family: "abolon";
}
#container {
	width: 100%;
	margin: 0 auto;
	position: relative;
}
#galleria-position {
	position: absolute;
	top: 50px;
	left: 25%;
	width: 50%;
	z-index: 2;
	#galleria-container {
		width: 100%;
		padding-bottom: 15%; 
		position: relative;
		height: 80%;
		#galleria {
			position: absolute;
			top: 0; bottom: 0; left: 0; right: 0;

		}
	}
}
#parallax {

}
.parallax-layer {

}

.stars-viewport {
	width: 100%;
	height: 800px;
	z-index: 1;
}
.stars {
	width: 120%;
	height: 120%;
	background-image: url(../parallax/stars-texture-3.jpg);

}
/*#content {
	position: absolute;
	top: 54px;
	z-index: 2;
	background-color: rgba(255,255,255,0.28);
	width: 100%;
	margin: inherit auto;
	/*remove when content is ready*/
	article {
		height: 600px;
	}
	header {
		z-index: 2;
		h1 {
			background-color: green;
		}
	}
/*}*/
#nav {
	z-index: 3;
	position: fixed;
	top: 0;
	width: 100%;
	background: rgba(255,255,255,0.5);
	
	ul {
			margin: 15px;

		li {
			list-style-type: none;
			display: inline;
			a {
				padding: 10px;
				color: white;
				text-decoration: none;
			}
		}
	}
}